<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>facelets.SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>  
        <param-name>primefaces.THEME</param-name>  
        <param-value>bootstrap</param-value>  
    </context-param>  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>  
        <error-code>404</error-code>  
        <location>/404.xhtml</location>  
    </error-page>
    <error-page>  
        <error-code>403</error-code>  
        <location>/403.xhtml</location>  
    </error-page>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>admin-pages</web-resource-name>
            <description>Pages d'administration</description>
            <url-pattern>/admin/index.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Rôles autorisés à acceder aux pages d'administration</description>
            <role-name>ADMINISTRATEUR</role-name>
            <role-name>MODERATEUR</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>profil-page</web-resource-name>
            <description>Page de profil</description>
            <url-pattern>/profil.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Rôles autorisés à acceder à la page de profil</description>
            <role-name>ADMINISTRATEUR</role-name>
            <role-name>MODERATEUR</role-name>
            <role-name>PRESTATAIRE</role-name>
            <role-name>SOUMISSIONNAIRE</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addAlbum-page</web-resource-name>
            <description>Page ajouter un album</description>
            <url-pattern>/addAlbum.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Rôles autorisés à acceder à la page ajouter un album</description>
            <role-name>PRESTATAIRE</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addPhoto-page</web-resource-name>
            <description>Page ajouter une photo</description>
            <url-pattern>/addPhoto.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Rôles autorisés à acceder à la page ajouter un album</description>
            <role-name>PRESTATAIRE</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>allAlbum-page</web-resource-name>
            <description>Page des albums</description>
            <url-pattern>/allAlbum.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Rôles autorisés à acceder à la page ajouter un album</description>
            <role-name>PRESTATAIRE</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>ficheedit-page</web-resource-name>
            <description>Page d'édition de fiche</description>
            <url-pattern>/ficheedit.xhtml</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>Rôles autorisés à acceder à la page d'édition de fiche</description>
            <role-name>PRESTATAIRE</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>oops_realm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/login.xhtml?failed=true</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Rôle d'Administrateur</description>
        <role-name>ADMINISTRATEUR</role-name>
    </security-role>
    <security-role>
        <description>Rôle de Modérateur</description>
        <role-name>MODERATEUR</role-name>
    </security-role>
    <security-role>
        <description>Rôle de Prestataire</description>
        <role-name>PRESTATAIRE</role-name>
    </security-role>
    <security-role>
        <description>Rôle de Soumissionaire</description>
        <role-name>SOUMISSIONNAIRE</role-name>
    </security-role>
    <security-role>
        <description>Rôle par defaut</description>
        <role-name>DEFAUT</role-name>
    </security-role>
</web-app>
