/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 déc. 2015, 13:04:10
    Author     : Geoffrey
*/
html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #3b3b3b;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

/** CONTAINER */

.container
{
	width: 95%;
	margin: 0px auto;
}

.clearfix{
	clear: both;
}

/** HEADER */

#header-wrapper
{
	overflow: hidden;
	background: #3b3b3b;
}

#header
{
	overflow: hidden;
	height: 100px;
}

/** LOGO */

#logo
{
	float: left;
	width: 400px;
}

#logo h1 a
{
	display: block;
	line-height: 100px;
	text-decoration: none;
	font-family: 'Kavoon', cursive;
	font-size: 60px;
	color: #FFFFFF;
}

/** MENU */

#menu
{
	float: right;
	max-width: 700px;
}

#menu ul
{
	
	margin: 5px;
	padding: 35px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
	margin-left: 10px;
}

#menu a, button
{
	display: block;
	padding: 10px 20px;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}

#menu .active a
{
	background: #00d9a9;
	border-radius: 5px;
	color: #FFFFFF;
}

#menu .active a:hover
{
	background-color: #00a987;
}

#menu .active a:active
{
	background-color: #20e1b6;
}

#menu a:hover
{
	text-decoration: none;
}

/** CONTENT --> Fond blanc */

#featured-wrapper
{
	overflow: hidden;
	padding: 20px 0px;
	background-color: #ededed;
	border-top: 1px solid #E7E7E7;
	text-align: left;
        min-height: 55%;
}

#featured header
{
	display: block;
	margin-bottom: 10px;
	margin-left: 20px;
	letter-spacing: -1px;
	font-size: 30px;
	font-weight: 400;
	color: #333333;
}

#featured h1
{
    display: block;
    margin-bottom: 10px;
    letter-spacing: -1px;
    font-size: 30px;
    font-weight: 400;
    color: #333333;
}

#featured .prestataire 
{
	padding: 10px 20px;
	margin: 1px 20px;
	border-width:1px;
	border-color: #DFDFDF;
	border-style:solid;
}

#featured .prestataire:hover
{
	box-shadow: 0px 0px 0px 5px #DFDFDF;
}

#featured .prestataire a 
{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #2980b9;	
}

#featured .prestataire a:hover
{
	text-decoration: underline;
}

#featured .prestataire #rating
{
	display: inline;
}

#featured .prestataire #rating a
{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #2980b9;
        margin-left: 10px;
        vertical-align: bottom;
}

#featured .prestataire #rating a:hover
{
	text-decoration: underline;
}
/*
#featured a
{
	display: inline-block;
	margin: 0px 10px;
	padding: 10px 30px;
	background: #20e1b6;
	background-image: -webkit-linear-gradient(top, #20e1b6, #00ad87);
	background-image: -moz-linear-gradient(top, #20e1b6, #00ad87);
	background-image: -ms-linear-gradient(top, #20e1b6, #00ad87);
	background-image: -o-linear-gradient(top, #20e1b6, #00ad87);
	background-image: linear-gradient(to bottom, #20e1b6, #00ad87);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 5px;
	letter-spacing: 2px;
	text-decoration: none;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}

#featured a:hover
{
	background-color: #20e1b6;
	background-image: -webkit-linear-gradient(top, #00ad87, #00ad87);
	background-image: -moz-linear-gradient(top, #00ad87, #00ad87);
	background-image: -ms-linear-gradient(top, #00ad87, #00ad87);
	background-image: -o-linear-gradient(top, #00ad87, #00ad87);
	background-image: linear-gradient(to bottom, #00ad87, #00ad87);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
}

#featured a:active
{
	background-color: #20e1b6;
	background-image: -webkit-linear-gradient(top, #20e1b6, #20e1b6);
	background-image: -moz-linear-gradient(top, #20e1b6, #20e1b6);
	background-image: -ms-linear-gradient(top, #20e1b6, #20e1b6);
	background-image: -o-linear-gradient(top, #20e1b6, #20e1b6);
	background-image: linear-gradient(to bottom, #20e1b6, #20e1b6);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
}

*/

/** BUTTON STYLING */

.button
{
	display: inline-block;
	margin: 0px 10px;
	padding: 10px 20px;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 7px;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
}

.button:hover
{
	background-color: #2980b9;
	background-image: -webkit-linear-gradient(top, #2980b9, #2980b9);
	background-image: -moz-linear-gradient(top, #2980b9, #2980b9);
	background-image: -ms-linear-gradient(top, #2980b9, #2980b9);
	background-image: -o-linear-gradient(top, #2980b9, #2980b9);
	background-image: linear-gradient(to bottom, #2980b9, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
}

.button:active
{
	background-color: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #3498db);
	background-image: -moz-linear-gradient(top, #3498db, #3498db);
	background-image: -ms-linear-gradient(top, #3498db, #3498db);
	background-image: -o-linear-gradient(top, #3498db, #3498db);
	background-image: linear-gradient(to bottom, #3498db, #3498db);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
}

.button-small
{
	display: inline-block;
	margin: 0px 10px;
	padding: 5px 10px;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 7px;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 9px;
	font-weight: 600;
	color: #FFFFFF;
}

.button-small:hover
{
	background-color: #2980b9;
	background-image: -webkit-linear-gradient(top, #2980b9, #2980b9);
	background-image: -moz-linear-gradient(top, #2980b9, #2980b9);
	background-image: -ms-linear-gradient(top, #2980b9, #2980b9);
	background-image: -o-linear-gradient(top, #2980b9, #2980b9);
	background-image: linear-gradient(to bottom, #2980b9, #2980b9);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
}

.button-small:active
{
	background-color: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #3498db);
	background-image: -moz-linear-gradient(top, #3498db, #3498db);
	background-image: -ms-linear-gradient(top, #3498db, #3498db);
	background-image: -o-linear-gradient(top, #3498db, #3498db);
	background-image: linear-gradient(to bottom, #3498db, #3498db);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
}

/** Portolio */
/*
#content header
{
	display: block;
	margin-bottom: 1px;
	font-size: 30px;
	font-weight: 400;
	color: #FF0000;
}*/

#two-column h3
{
	padding-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
}

#two-column img
{
	float: left;
	margin-right: 30px;
	padding: 5px;
	background: #FFFFFF;
	opacity: 0.8;
}

#two-column img
{
	opacity: 0.9;
}

#two-column .box-style
{
	overflow: hidden;
	padding: 30px 0px;
}

#two-column #tbox1
{
	float: left;
	width: 500px;
}

#two-column #tbox2
{
	float: right;
	width: 500px;
}

/** Third Section --> Barre de recherche : Fond vert */

#banner-wrapper
{
	overflow: hidden;
	padding: 40px 0px;
	background: #20e1b6;
	text-align: center;
	color: #000000;
}

#banner p
{
	letter-spacing: -1px;
	font-size: 40px;
	font-weight: 300;
}

#banner strong
{
	font-weight: 400;
}

.search { 
	padding:6px 15px 6px 30px;
	margin:2px; 
}



/** FOOTER */

#footer-wrapper
{
	overflow: hidden;
	padding: 35px 0px;
	background: #444444;
	border-top: 1px solid #404040;
	border-bottom: 1px solid #404040;
        text-align: center;
}

#footer
{
	overflow: hidden;
	color: #B1B1B1;
}

#footer header
{
	margin-bottom: 2px;
	font-size: 20px;
	font-weight: 400;
	color: #FFFFFF;
}

#footer #fbox1
{
	float: left;
	width: 700px;
}

#footer #fbox2
{
	float: right;
	width: 300px;
}

#footer a
{
	color: #D0D0D0;
}

#footer .button-small
{
	color: #FFFFFF;
}

#copyright
{
	overflow: hidden;
	padding: 3px 0px 3px 0px;
	text-align: center;
	color: #606060;
}

#copyright a
{
	color: #818181;
}